.override{
    padding: 0;
    margin: 0;
    height:  3em;
    width: 5em;
    background-color: white;

}
.override *{
    margin: 0;
}

.Checkout form{
    background-color: white;
    border-style: none;
    padding: 0;
    margin: 0;
}
