
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.76);
}

body * {
    font-family: 'Source Code Pro', monospace;
}
